#
# /etc/udev/rules.d/99-thumper-disks.rules
# Written on 2009/08/15 by Mark Bergsma <mark@nedworks.org>
#
# Wed, 12 Nov 2014 14:48:19 -0600
# Tom Downes <thomas.downes@ligo.org>
# Made modifications to work in RHEL7.
# Improvements: do not rely on SCSI logical name, but
# instead identify the MV controller by PCI path and
# assign each controller a unique # from 0-5. Similar
# unique # (0-7) for each disk within each controller.
#
# Previous method would identify more than 6 controllers
# if a SCSI logical name was skipped; on TD's system
# disks were numbered 1,3...49 rather than 0..47 as
# the previous code assumed

# Disk rules
SUBSYSTEM=="block", KERNEL=="sd[a-z]", PROGRAM="/etc/udev/scripts/solaris-name.sh %p", ENV{SOLARIS_NAME}="$result", SYMLINK+="disk/by-controller/$env{SOLARIS_NAME}"
SUBSYSTEM=="block", KERNEL=="sd[a-z][a-z]", PROGRAM="/etc/udev/scripts/solaris-name.sh %p", ENV{SOLARIS_NAME}="$result", SYMLINK+="disk/by-controller/$env{SOLARIS_NAME}"

# Partition rules
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]*", PROGRAM="/etc/udev/scripts/solaris-name.sh %p %n", ENV{SOLARIS_NAME}="$result", SYMLINK+="disk/by-controller/$env{SOLARIS_NAME}"
SUBSYSTEM=="block", KERNEL=="sd[a-z][a-z][0-9]*", PROGRAM="/etc/udev/scripts/solaris-name.sh %p %n", ENV{SOLARIS_NAME}="$result", SYMLINK+="disk/by-controller/$env{SOLARIS_NAME}"
